.nav
{
    background-color: lightblue;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.container { 
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    padding: 12px;
    margin: auto;
    margin-top: 50px;
}
.box
{
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    text-align: center;
    margin-top: 50px;
}
.search input {
    padding: 10px;
    width: 200px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;

}
.search button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    border: oldlace;
    border-radius: 5px;
    background-color: lightgray;
}